/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
    -fx-background-color:#000000;
}
#myLabel{
    -fx-font-weight:900;
    -fx-font-size:30px;
    -fx-font-family:"Papyrus";
    -fx-text-fill:#ffffff;
}
#logoutButton{
    -fx-padding:8 15 15 15;
    -fx-background-insets:0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius:8;
    -fx-background-color:
    linear-gradient(from 0% 93% to 0% 100%,#a34313 0%,#903b12 100%),
    #9d4024,
    #d86e3a,
    radial-gradient(center 50% 50%,radius 100%, #d86e3a, #c54e2c);
    -fx-effect:dropshadow(gaussian,rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight:900;
    -fx-font-size:1.1em;
    -fx-font-family:"Papyrus";
    -fx-text-fill:#ffffff;
    
}
#logoutButton:hover {
    -fx-background-color:
	    linear-gradient(from 0% 93% to 0% 100%,#a34313 0%,#903b12 100%),
	    #9d4024,
	    #d86e3a,
	    radial-gradient(center 50% 50%,radius 100%, #d86e3a, #c54e2c);
}
#logoutButton:pressed {
    -fx-padding:10 15 13 15;
    -fx-background-insets:2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}
#level1{
    -fx-background-image:url("../blood1.png");
    -fx-background-size:110px;
    -fx-background-color:#000000;
    -fx-font-size:20px;
    -fx-text-fill:#ffffff;
    -fx-alignment:center;
    -fx-background-position:center;
    -fx-font-family:"Bradley Hand ITC";
}
#level2{
    -fx-background-image:url("../blood2.png");
    -fx-background-size:110px;
    -fx-background-color:#000000;
    -fx-font-size:20px;
    -fx-text-fill:#ffffff;
    -fx-alignment:center;
    -fx-background-position:center;
    -fx-font-family:"Bradley Hand ITC";
}
#level3{
    -fx-background-image:url("../blood4.png");
    -fx-background-size:110px;
    -fx-background-color:#000000;
    -fx-font-size:20px;
    -fx-text-fill:#ffffff;
    -fx-alignment:center;
    -fx-background-position:center;
    -fx-font-family:"Bradley Hand ITC";
}
#endless{
    -fx-background-image:url("../blood5.png");
    -fx-background-size:110px;
    -fx-background-color:#000000;
    -fx-font-size:17px;
    -fx-text-fill:#ffffff;
    -fx-alignment:center;
    -fx-background-position:center;
    -fx-font-family:"Bradley Hand ITC";
}
#more{
    -fx-background-image:url("../blood3.png");
    -fx-background-size:110px;
    -fx-background-color:#000000;
    -fx-font-size:20px;
    -fx-text-fill:#ffffff;
    -fx-alignment:center;
    -fx-background-position:center;
    -fx-font-family:"Bradley Hand ITC";
}
#leaderboard{
    -fx-background-image:url("../blood6.png");
    -fx-background-size:110px;
    -fx-background-color:#000000;
    -fx-font-size:17px;
    -fx-text-fill:#ffffff;
    -fx-alignment:center;
    -fx-background-position:center;
    -fx-font-family:"Bradley Hand ITC";
}